---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import InfoSigns from '../components/InfoSigns.astro';
import Header from '../components/Header.astro';
import StepIndicator from '../components/StepIndicator.astro';
import SimpleCard from '../components/SimpleCard.astro';
---

<Layout title="Welcome to Astro.">
	<InfoSigns />
	<Header />
	<span class="information">
		<h1> Wait ! Your Order In Progress. </h1>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
	</span>
	<div class="step-indicators">
		<StepIndicator status='success' number={1} text='Cart Review' />
		<StepIndicator status='success' number={2} text='Checkout' />
		<StepIndicator status='actual' number={3} text='Special Offer' />
		<StepIndicator status='pending' number={4} text='Confirmation' />
	</div>
	<main>
		<div>
			xd
		</div>
		<div>
			<SimpleCard 
				tittle='Clarifion Air Ionizer'
				price={{
					before: 180,
					after: 84
				}}
				stars={5}
				stock={0}
				desc='Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with a simple.'
				image='/product/Product-1.png'
			/>
		</div>
	</main>
</Layout>

<style>
	.information {
		text-align: center;
		gap: 1rem;

		& h1 {
			margin: 0;
			font-size: 2.4rem;
			font-weight: 400;
		}

		& p {
			margin: 0;
			font-size: 1.2rem;
			font-weight: 400;
			color: var(--text-secondary);
		}
	}
	.step-indicators {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 2rem var(--space-side);
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 var(--space-side);
		gap: 2rem;
		padding: 2rem;
		border-radius: var(--space-2);

		background-color: var(--bg-secondary);
	}
</style>
