---
import getURL from "../settings";
---

<header>
    <img src={getURL("clarifion-logo.svg")} alt="Logo" class="logo">
    <div class="container-security">
        <img src={getURL("antivirus/mcaffe-logo.svg")} alt="Mcaffe">
        <img src={getURL("antivirus/norton-logo.svg")} alt="Norton">
    </div>
</header>

<style>
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: var(--space-4) var(--space-side);

        & .container-security {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: var(--space-2);

            & img {
                width: 10vw;
                max-width: 80px;
            }
        }
        & .logo {
            width: 30vw;
            max-width: 200px;
        }
    }
</style>