---
interface Props {
    status: "success" | "actual" | "pending";
    number: number;
    text: string;
}

const { status, text, number }: Props = Astro.props;
---

<span class=`step ${status}`>
    <span class="step__icon">
        <!-- If the Step is "succes" render an icon of checkmarck -->
        {status === "success" ?
            <img src="/icon/tick-circle.svg" alt="Checkmark" />
            :
            number
        }
    </span>
    {`Step ${number}: ${text}`}
</span>

<style>
    .step {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: #000;

        & .step__icon {
            aspect-ratio: 1;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            
            margin-right: 1rem;
        }

        &.success .step__icon {
            background-color: #85BF55;
            color: #fff;
        }

        &.actual .step__icon {
            background-color: var(--accent);
            color: #fff;
        }

        &.pending .step__icon {
            border: 1px solid var(--accent);
            color: var(--accent);
        }
    }
</style>